<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maxkernchen.walkingalarm">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_walking_alarm"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_walking_alarm_round"
        android:theme="@style/Theme.WalkingAlarm">
        <activity
            android:name="com.maxkernchen.walkingalarm.SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings" />
        <activity
            android:name="com.maxkernchen.walkingalarm.AlarmFullScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_alarm_full_screen"
            android:theme="@style/Theme.WalkingAlarm.Fullscreen" />

        <service
            android:name="com.maxkernchen.walkingalarm.AlarmService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name="com.maxkernchen.walkingalarm.AlarmReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="AlarmActionFullScreen" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.maxkernchen.walkingalarm.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.WalkingAlarm.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>